<%-include('../layout/header_without_image.ejs')%>
  <!-- food section -->

  <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center p-5 m-5 shadow-lg p-3 mb-5 bg-body rounded" style="border: 1px solid black;border-radius: 10px; background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);">
            <h3 style="font-size: bolder;" class="mb-4">Payment Failed</h3>
            <p><%=error%></p>
        </div>
    </div>
  </div>

  <!-- end food section -->

  <!-- footer section -->
  <%-include('../layout/footer.ejs')%>